@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap');

:root {
    --primary-color: #0A4536;
    --secondary-color: #FF914D;
    --background-color: #F8F3E9;
    --text-color: #797A7C;
    --accent-color: #FAFAFA;
    /*  */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    .Navigations {
        margin: 30px 90px;
        border-radius: 25px;
        background-color: whitesmoke;
        box-shadow: 1px 1px 15px #b6b6b688;

        .links {
            padding: 15px 35px;
            display: flex;
            justify-content: space-around;

            color: var(--secondary-color);

            li {
                display: flex;
                gap: 5px;
                align-items: center;
                list-style-type: none;

                i {
                    font-size: 20px;
                    margin-right: 4px;
                }

                a {
                    padding: 5px;
                    color: var(--secondary-color);
                    text-decoration: none;
                    transition: 0.3s;
                }

                a:hover {
                    background-color: var(--secondary-color);
                    color: var(--accent-color);
                    border-radius: 10px;

                }

                a:active {
                    background-color: var(--primary-color);
                    color: var(--accent-color);
                }

                #link {
                    border-radius: 10px;
                    border: 2px solid var(--primary-color);
                    color: var(--primary-color);
                }

                #Icon:hover {
                    color: var(--accent-color);
                }

                #link:hover {
                    color: var(--accent-color);
                    background-color: var(--primary-color);
                }

            }
        }
    }
}

@media (max-width: 768px) {
    header {
        .Navigations {

            margin: 20px 30px;
            border-radius: 25px;
            background-color: whitesmoke;
            box-shadow: 1px 1px 15px #b6b6b688;

            .links {
                padding: 10px 25px;
                display: flex;
                justify-content: space-around;

                color: var(--secondary-color);

                li {
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    list-style-type: none;

                    a {
                        padding: 4px;
                        color: var(--secondary-color);
                        text-decoration: none;
                        transition: 0.3s;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        font-size: 13px;
                    }

                    a:hover {
                        background-color: var(--secondary-color);
                        color: var(--accent-color);
                        border-radius: 10px;

                    }

                    a:active {
                        background-color: var(--primary-color);
                        color: var(--accent-color);
                    }

                    #link {
                        border-radius: 10px;
                        border: 2px solid var(--primary-color);
                        color: var(--primary-color);
                    }

                    #Icon:hover {
                        color: var(--accent-color);
                    }

                    #link:hover {
                        color: var(--accent-color);
                        background-color: var(--primary-color);
                    }

                }
            }
        }
    }

}

@media (max-width: 640px) {
    header {
        .Navigations {
            
            width: fit-content;
            margin: auto;
            margin-top: 10px;
            border-radius: 25px;
            background-color: whitesmoke;
            box-shadow: 1px 1px 15px #b6b6b688;

            .links {
                padding: 10px 20px;
                display: flex;
                justify-content: center;
                gap: 25px;
                color: var(--secondary-color);

                li {
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    list-style-type: none;

                    i {
                        margin-left: 2px;
                        font-size: 14px;
                    }

                    a {
                        padding: 4px;
                        color: var(--secondary-color);
                        text-decoration: none;
                        transition: 0.3s;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 2px;
                        font-size: 6px;
                        font-weight: 500;
                    }

                    a:hover {
                        background-color: var(--secondary-color);
                        color: var(--accent-color);
                        border-radius: 10px;

                    }

                    a:active {
                        background-color: var(--primary-color);
                        color: var(--accent-color);
                    }

                    #link {
                        border-radius: 10px;
                        border: 2px solid var(--primary-color);
                        color: var(--primary-color);
                    }

                    #Icon:hover {
                        color: var(--accent-color);
                    }

                    #link:hover {
                        color: var(--accent-color);
                        background-color: var(--primary-color);
                    }

                }
            }
        }
    }
}